<nav id="top_menu">
<%=render :partial=>'shared/navigation'%>
  </nav>
<h1>Editing personal_property</h1>

<%= render 'form' %>

<%= link_to 'Show', @personal_property %> |
<%= link_to 'Back', personal_properties_path %>
