<nav id="top_menu">
<%=render :partial=>'shared/navigation'%>
  </nav>
<h2>Editing personal property</h2>

<%= render 'form' %>

<%= link_to 'Show', @personal_property %> |
<%= link_to 'Back', personal_properties_path %>
