<nav id="top_menu">
<%=render :partial=>'shared/navigation'%>
  </nav>
<h2>Editing legal document</h2>

<%= render 'form' %>

<%= link_to 'Show', @legal_document %> |
<%= link_to 'Back', legal_documents_path %>
