
<div id="big_wrapper">
		<header id="top_header1">
		<h1>Geriatricsconcern</h1>
		   <%=image_tag "photo.jpg" %>
			</header>

<nav id="top_menu">
  <%=render :partial=>'shared/navigation'%>
</nav>

<section id="main_section">
<article><header>
<hgroup>
<h2>Why Geriatric Concern web portal?</h2>
</hgroup>
</header>

<p class="tuna">According to U.S. News and World Report, 19 million Americans are caring for someone over the age of
75, a parent or a grandparent, who may or may not live with them. Often called “informal care givers,”
these adult children or relatives provide 75 to 80% of all long-term care in the United States.</P>
  <p name="finefine">As the population ages, the number of people managing the care of a parent, family member, or loved
one continues to grow.Geriatricsconcern.com will provide a secure, virtual management tool to manage
critical information to those who manage or provide care to the geriatric population. This information can
be viewed, edited in real time, and shared with family members or designated providers. This will
help to be prepared when critical information is needed concerning one’s parent or loved one.
Geriatricsconcern.com’s goal is to offer a user friendly self-managed virtual service that provides easy
and secure access to a parent or family member’s critical information including medical, legal and
financial documents.  </P>
  <p class="jose">The client managers are responsible for direct/indirect care, management of health related issues,
schedules, banking and financial, insurance, and personal property. These caregivers manage a considerable
amount of information and documents related to the Geriatrics. Often times, family members not living with
the Geriatric client have limited availability to this information due to geographical restrictions.
 Geriatricsconcern.com will provide a secure, centralized location that family members and providers can access/manage information and documents through
a convenient online experience. This can be extremely important in the event of medical emergency or life changing event</P>

</article>
</section>
<aside id="side_news">
<%=render :partial=>'shared/aside'%>
</aside>

<footer id="the_footer">
	copyright by josephine
	</footer>          </div>