
<div id="big_wrapper">
  <header id="top_header">
    <%=image_tag "image(8).jpg"%>
    <h1>Geriatrics Concern</h1>

			</header>

<nav id="top_menu">
<%=render :partial=>'shared/navigation'%>
</nav>
<section id="main_section">
<article><header>
  </br>
  <h4>All ready a member Please       <%=link_to "Sign in", clients_path ,:alt=>'Manager and Clients Enter The Information'%></h4>
  </br>
<h2>Medical</h2>

</header>
<p class="jose">The Medical section includes information specific to the Geriatric Client from both the geriatric client data points and healthcare provider data points,
along with sections on medical history and medications.</P>

  <header>
 </br>
<h2>Medical History:</h2>

</header>
<p class="tuna">The Medical History section provides information relative to an individual Geriatric Client’s medical history and background; date of occurrence, diagnosis,
physician, and associated documents can be uploaded such as discharge paperwork, photos of x-rays, etc. Medical History can be input, updated, or deleted in
 this section by any user who has administrative authority.</P>

  <header> </br>
<h2>Medications:</h2>
</header>
<p name="finefine">The Medications section provides information relative to an individual Geriatric Client. Medication information can be input, updated, or deleted
in this section by any user who has administrative authority. Medication information may be relative to prescription or over the counter medications
and provides the user a location to upload a picture of the actual medication or bottle
</P>

</article>
</section>
<aside id="side_news">
<%=render :partial=>'shared/aside'%>
</aside>
  <footer id="the_footer">
	copyright by josephine
	</footer>
	</div>

