<nav id="top_menu">
<%=render :partial=>'shared/navigation'%>
  </nav>
<h1>Editing loans_credit_card</h1>

<%= render 'form' %>

<%= link_to 'Show', @loans_credit_card %> |
<%= link_to 'Back', loans_credit_cards_path %>
