<nav id="top_menu">
<%=render :partial=>'shared/navigation'%>
  </nav>
<h2>Editing loans credit card</h2>

<%= render 'form' %>

<%= link_to 'Show', @loans_credit_card %> |
<%= link_to 'Back', loans_credit_cards_path %>
