<nav id="top_menu">
<%=render :partial=>'shared/navigation'%>
  </nav>
<h2>New loans credit card</h2>

<%= render 'form' %>

<!--<#%= link_to 'Back (loans_credit_cards)', loans_credit_cards_path %></br>-->
<%= link_to 'Back (new client) ', clients_path %>

