<nav id="top_menu">
<%=render :partial=>'shared/navigation'%>
  </nav>
<h2>New Loans Credit Card</h2>

<%= render 'form' %>

<!--<#%= link_to 'Back', loans_credit_cards_path %>-->

<%= link_to 'New Client', clients_path %>